asn1crypto==0.22.0
cryptography==1.9
enum34==1.1.6
idna==2.5
ipaddress==1.0.17
keyboard==0.11.0
keyring==10.4.0
keyrings.alt==2.2
mercurial==4.3.1
psutil==5.0.1
pycrypto==2.6.1
pygobject==3.24.1
python-xlib==0.14
pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0
virtualenv==15.1.0
xdo==0.4
